<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>{{ greeting }}</h1>
    <section class="hero is-info"> 
        <div class="hero-body">
            <p class="title">생활프로그래머</p> 
            <p class="subtitle">Do it! 파이썬 생활프로그래밍</p> 
        </div>
    </section>
    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791163031734.jpg">
    <a href="https://product.kyobobook.co.kr/detail/S000001817976"><button class="button is-success"> 파이썬</button></a> 
    <a href="https://www.yes24.com/Product/Goods/117516442"><button class="button is-list"> 대학원레시피</button></a> 
</body>
</html>
